.erdos {
  color: red;
  width: 100px;
  height: 100px;
  background-color: black;
}
.card {
  width: 300px;
  height: 500px;
  border: 3px solid rgb(0, 0, 0);
  margin: 40px;
  border-radius: 15px;
}
.ed {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px;
}
.b {
  display: flex;
}
.wer {
  padding: 5px 5px 5px 100px;
  color: black;
}
.u {
  background-color: blue;
  border-radius: 20px;
  border: 0;
}
